
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Models/bin/Debug/netstandard2.1
/Models/obj/Debug/netstandard2.1
/.vs/Weather/v16
/Weather/bin/Debug/netstandard2.1
/Weather/obj/Debug/netstandard2.1
/Weather.Android/bin/Debug
/Weather.Android/obj/Debug/90/android
/Weather.Android/obj/Debug/90

/Weather.iOS/obj/iPhoneSimulator/Debug
/Models/obj
/Services/obj/Debug
/Weather/obj
/Weather.Android/obj
/Weather.iOS/obj
/Services/obj
/Core/obj
/Core/bin/Debug/netstandard2.0
/Services/bin/Debug/netstandard2.1
/Weather.iOS/bin/iPhoneSimulator/Debug
/.vs/Weather/DesignTimeBuild
*.json
.vs/Weather/xs/UserPrefs.xml
